<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head th:replace="layout/head::head"></head>

</head>

<body>
    <div th:replace="/layout/header :: header"></div>

    <div class="contenedor">
        <button class="btn-usuario" onclick="window.location='zonaUsuarios'">Usuario</button>
        <button class="btn-cartas" onclick="window.location='zonaCartas'">Cartas</button>
    </div>

    <div th:replace="layout/footer :: footer"></div>

</body>

</html>