<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/crearCarta.css}">

    <head th:replace="layout/head::head"></head>
</head>

<body>
    <div th:replace="/layout/header :: header"></div>

    <div id="flex-box" class="flex-box">
        <div id="grid" class="grid">
            <div th:each="carta : ${listadoCartas}" class="carta">
                <img th:src="@{/img/{img}(img=${carta.img})}" th:alt="${carta.nombreCarta}" class="carta-img">
                <h3 th:text="${carta.nombreCarta}"></h3>
                <p>Tipo: <span th:text="${carta.tipoCarta}"></span></p>
                <p>Coste: <span th:text="${carta.costeCarta}"></span></p>
                <p>Color: <span th:text="${carta.color}"></span></p>
                <p>Código: <span th:text="${carta.codigoCarta}"></span></p>
                <p id="precioCarta">Precio: <span th:text="${#numbers.formatDecimal(carta.precioCarta, 1, 2)}"></span>€</p>
                <p id="cantidad-carta">Cantidad: <span th:text="${carta.cantidad}"></span></p>

                <a href="#" class="boton-editar" th:data-id="${carta.id}"
                    onclick="openModal(this); return false;">Editar Carta</a>

                <form th:action="@{/zonaCartas/addExistencias}" method="post" class="form-añadir">
                    <div class="cantidad-controles-añadir">

                        <button type="button" class="btn-menos" th:data-id="${carta.id}">-</button>

                        <input type="number" th:id="'cantidad-' + ${carta.id} + '-añadir'" min="1"
                            th:name="cantidad" value="1" readonly>

                        <button type="button" class="btn-mas" th:data-id="${carta.id}">+</button>

                    </div>
                    <input type="hidden" name="idCarta" th:value="${carta.id}">
                    <button type="submit" class="btn-añadir">Añadir existencias</button>
                </form>
                <br>
            </div>
        </div>
    </div>

    <!-- Modal para editar carta -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Carta</h2>
            <form th:action="@{/zonaCartas/edit}" method="post" id="editForm">
                <input type="hidden" name="id" id="editId">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="editNombre" required>

                <label for="tipo">Tipo:</label>
                <input type="text" name="tipo" id="editTipo" required>

                <label for="coste">Coste:</label>
                <input type="text" name="coste" id="editCoste">

                <label for="color">Color:</label>
                <input type="text" name="color" id="editColor" required>

                <label for="codigo">Código:</label>
                <input type="text" name="codigo" id="editCodigo" required>

                <label for="precio">Precio:</label>
                <input type="number" step="0.01" name="precio" id="editPrecio" required>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="editCantidad" required>

                <button type="submit" class="btn-actualizar">Actualizar Carta</button>
            </form>

        </div>
    </div>

    <!-- Modal para añadir nueva carta -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <h2>Añadir Nueva Carta</h2>
            <form th:action="@{/zonaCartas/add}" method="post" enctype="multipart/form-data">
                <label for="addNombre">Nombre:</label>
                <input type="text" id="addNombre" name="nombre" required>
                
                <label for="addTipo">Tipo:</label>
                <input type="text" id="addTipo" name="tipo" required>
                
                <label for="addCoste">Coste:</label>
                <input type="text" id="addCoste" name="coste">
                
                <label for="addColor">Color:</label>
                <input type="text" id="addColor" name="color" required>
                
                <label for="addCodigo">Código:</label>
                <input type="text" id="addCodigo" name="codigo" required>
                
                <label for="addPrecio">Precio:</label>
                <input type="number" id="addPrecio" name="precio" required>
                
                <label for="addCantidad">Cantidad:</label>
                <input type="number" id="addCantidad" name="cantidad" required>
                
                <label for="addImagen">Imagen:</label>
                <input type="file" id="addImagen" name="imagen" accept="image/*" required onchange="previewImage(event)">
                <img id="imagePreview" src="#" alt="Vista previa de la imagen" style="display:none; max-width: 100%; margin-top: 10px;">
                
                <label for="addCategorias">Categorías:</label>
                <select id="option-selector" class="custom-select">
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.categoria}"></option>
                </select>
                <button type="button" id="add-option" class="btn-add-option">Añadir</button>
                
                <ul id="selectedCategoriesList"></ul> <!-- List to display selected categories -->
                
                <!-- Hidden input to store selected categories -->
                <input type="hidden" name="categorias" id="selectedCategoriesInput">
                
                <button type="submit" class="btn-guardar">Guardar</button>
            </form>
        </div>
    </div>

    <script th:src="@{/js/btnAñadir.js}"></script>
    <script th:src="@{/js/modalEditarCarta.js}"></script>
    <script th:src="@{/js/modalCrearCarta.js}"></script>
    <div th:replace="layout/footer :: footer"></div>
</body>

</html>