<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    <head th:replace="layout/head::head"></head>

</head>

<body>
    <div th:replace="/layout/header :: header"></div>

    <h1 class="titulo">Lista de Usuarios</h1>

    <div class="contenedor-tabla">
        <table class="tabla-usuarios">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuario}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.apellido}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.dni}"></td>
                    <td th:text="${usuario.direccion}"></td>
                    <td th:text="${usuario.telefono}"></td>
                    <td>
                        <a th:href="@{|/zonaUsuarios?edit=${usuario.id}|}" class="btn-editar">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${edit}">
        <div class="contenedor-tabla-editar">
            <h2 class="titulo-editar">Editar Usuario</h2>
            <form th:action="@{/zonaUsuarios/edit}" method="post" class="form-editar">
                <input type="hidden" name="id" th:value="${usuarioEditar.id}">

                <label for="nombre" class="label">Nombre:</label>
                <input type="text" name="nombre" th:value="${usuarioEditar.nombre}" class="input" required>

                <label for="apellido" class="label">Apellido:</label>
                <input type="text" name="apellido" th:value="${usuarioEditar.apellido}" class="input" required>

                <label for="email" class="label">Email:</label>
                <input type="email" name="email" th:value="${usuarioEditar.email}" class="input" required>

                <label for="dni" class="label">DNI:</label>
                <input type="text" name="dni" th:value="${usuarioEditar.dni}" class="input" required>

                <label for="direccion" class="label">Dirección:</label>
                <input type="text" name="direccion" th:value="${usuarioEditar.direccion}" class="input" required>

                <label for="telefono" class="label">Teléfono:</label>
                <input type="text" name="telefono" th:value="${usuarioEditar.telefono}" class="input" required>

                <div>
                    <label for="rol" class="label">Rol:</label>
                    <select name="rol" class="rol">
                        <option value="" disabled selected>Elige un rol</option>
                        <option value="admin" th:selected="${usuarioEditar.rol == 'admin'}">Administrador</option>
                        <option value="usuario" th:selected="${usuarioEditar.rol == 'usuario'}">Usuario</option>
                    </select>
                </div>

                <button type="submit" class="btn-actualizar">Actualizar Usuario</button>
                <a th:href="@{/zonaUsuarios}" class="btn-cancelar">Cancelar</a>
            </form>
        </div>
    </div>

</body>
<div th:replace="layout/footer :: footer"></div>

</html>