<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/zonaCartas.css}">

    <head th:replace="layout/head::head"></head>
</head>

<body>
    <div th:replace="/layout/header :: header"></div>

    <div id="flex-box" class="flex-box">
        <div id="grid" class="grid">
            <div th:each="carta : ${listadoCartas}" class="carta">
                <img th:src="@{/img/{img}(img=${carta.img})}" th:alt="${carta.nombreCarta}" class="carta-img">
                <h3 th:text="${carta.nombreCarta}"></h3>
                <p>Tipo: <span th:text="${carta.tipoCarta}"></span></p>
                <p>Coste: <span th:text="${carta.costeCarta}"></span></p>
                <p>Color: <span th:text="${carta.color}"></span></p>
                <p>Código: <span th:text="${carta.codigoCarta}"></span></p>
                <p id="precioCarta">Precio: <span th:text="${#numbers.formatDecimal(carta.precioCarta, 1, 2)}"></span>€</p>
                <p id="cantidad-carta">Cantidad: <span th:text="${carta.cantidad}"></span></p>

                <a href="#" class="boton-editar" th:data-id="${carta.id}"
                    onclick="openModal(this); return false;">Editar Carta</a>

                <form th:action="@{/zonaCartas/addExistencias}" method="post" class="form-añadir">
                    <div class="cantidad-controles-añadir">

                        <button type="button" class="btn-menos" th:data-id="${carta.id}">-</button>

                        <input type="number" th:id="'cantidad-' + ${carta.id} + '-añadir'" min="1"
                            th:name="cantidad" value="1" readonly>

                        <button type="button" class="btn-mas" th:data-id="${carta.id}">+</button>

                    </div>
                    <input type="hidden" name="idCarta" th:value="${carta.id}">
                    <button type="submit" class="btn-añadir">Añadir existencias</button>
                </form>
                <br>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Carta</h2>
            <form th:action="@{/zonaCartas/edit}" method="post" id="editForm">
                <input type="hidden" name="id" id="editId">

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="editNombre" required>

                <label for="tipo">Tipo:</label>
                <input type="text" name="tipo" id="editTipo" required>

                <label for="coste">Coste:</label>
                <input type="text" name="coste" id="editCoste" required>

                <label for="color">Color:</label>
                <input type="text" name="color" id="editColor" required>

                <label for="codigo">Código:</label>
                <input type="text" name="codigo" id="editCodigo" required>

                <label for="precio">Precio:</label>
                <input type="number" step="0.01" name="precio" id="editPrecio" required>

                <label for="cantidad">Cantidad:</label>
                <input type="number" name="cantidad" id="editCantidad" required>

                <button type="submit" class="btn-actualizar">Actualizar Carta</button>
            </form>

        </div>
    </div>

    <a href="/zonaCartas/nuevaCarta" class="btn-nueva-carta">Añadir nueva carta</a>

    <script th:src="@{/js/btnCantidad.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
    <div th:replace="layout/footer :: footer"></div>
</body>

</html>