<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Compra</title>
    <link rel="stylesheet" th:href="@{/css/compraCarrito.css}">
    <head th:replace="layout/head::head"></head>
</head>

<body>

    <div th:replace="/layout/header :: header"></div>

    <div th:if="${pedido != null}" class="compra-contenedor-recibo">

        <h1>Recibo de Compra</h1>
        <div class="compra-recibo-header">
            <p><strong>Pedido No:</strong> <span th:text="${pedido.id}"></span></p>
            <p><strong>Fecha:</strong> <span th:text="${#temporals.format(pedido.fecha, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p><strong>Nombre Usuario:</strong> <span th:text="${pedido.usuario.nombre} + ' ' + ${pedido.usuario.apellido}"></span></p>
            <p><strong>Dirección de envío:</strong> <span th:text="${pedido.direccionEnvio}"></span></p>
        </div>

        <table class="compra-tabla-recibo">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lineaPedido : ${listaLineaPedidos}">
                    <td th:text="${lineaPedido.carta.nombreCarta}"></td>
                    <td th:text="${lineaPedido.cantidad}"></td>
                    <td th:text="'€' + ${#numbers.formatDecimal(lineaPedido.carta.precioCarta, 2, 2)}"></td>
                    <td th:text="'€' + ${#numbers.formatDecimal(lineaPedido.precioTotalLinea, 2, 2)}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><strong>Subtotal</strong></td>
                    <td th:text="'€' + ${#numbers.formatDecimal(pedido.precioTotal, 2, 2)}"></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Envío</strong></td>
                    <td th:text="'€' + ${gastoEnvio} + ',00'"></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Total</strong></td>
                    <td th:text="'€' + ${#numbers.formatDecimal(pedido.precioTotal + gastoEnvio, 2, 2)}"></td>
                </tr>
            </tfoot>
        </table>
        <form class="compra-finalizar-pedido" th:action="@{/finalizarCompra}" method="get">
            <input type="hidden" name="idPedido" th:value="${pedido.id}" class="compra-input">
            <button type="submit" class="compra-botonFinalizarCompra">Finalizar Compra</button>
        </form>
    </div>

    <div th:if="${pedido == null}">
        <p>Error: Pedido no válido.</p>
    </div>

    <div th:replace="layout/footer :: footer"></div>

</body>

</html>