<div th:if="${mensaje}" th:text="${mensaje}" class="mensajeBusqueda" style="text-align: center; grid-column: 2; "></div>
<div th:each="carta : ${cartas}" class="carta" th:classappend="${carta.cantidad == 0} ? 'out-of-stock' : ''" th:data-id="${carta.id}" style="opacity: 0; animation: fadeIn 0.5s forwards;">
	<img th:src="@{/img/{img}(img=${carta.img})}" th:alt="${carta.nombreCarta}" class="carta-img">
	<h3 th:text="${carta.nombreCarta}"></h3>
	<p>
		Tipo: <span th:text="${carta.tipoCarta}"></span>
	</p>
	<p>
		Coste: <span th:text="${carta.costeCarta}"></span>
	</p>
	<p>
		Color: <span th:text="${carta.color}"></span>
	</p>
	<p>
		Código: <span th:text="${carta.codigoCarta}"></span>
	</p>
	<p id="precioCarta">
		Precio: <span th:text="${#numbers.formatDecimal(carta.precioCarta, 2,2)}"></span>€ 
	</p>

	<div th:if="${usuarioLogueado}">
		<form th:action="@{/carrito/add}" method="POST">

			<div class="cantidad-controles">

				<button type="button" class="btn-menos" th:data-id="${carta.id}"
					th:disabled="${carta.cantidad == 0}">-</button>

				<input type="number" th:id="'cantidad-' + ${carta.id}" th:name="cantidad" min="1"
					th:max="${carta.cantidad}" value="1" th:data-id="${cantidad}" th:disabled="${carta.cantidad == 0}">

				<button type="button" class="btn-mas" th:data-id="${carta.id}"
					th:disabled="${carta.cantidad == 0}">+</button>

			</div>

			<input type="hidden" name="idCarta" th:value="${carta.id}">

			<button type="submit" th:disabled="${carta.cantidad == 0}">Añadir a carrito</button>
		</form>

	</div>
	<div th:if="${!usuarioLogueado}">
		<p>
			Cantidad: <span th:text="${carta.cantidad}"></span>
		</p>
		<form>
			<button type="submit" disabled>Añadir a carrito</button>
			<p style="color: red;">Inicia sesión para añadir al carrito</p>
		</form>
	</div>
</div>

<style>
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
</style>