body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    /* Fondo claro */
    margin: 0;
    padding: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007bff;
    /* Color azul para el título */
    text-align: center;
}

.pedido-detalles {
    background-color: #ffffff;
    /* Fondo blanco */
    border: 1px solid #ddd;
    /* Borde gris */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-bottom: 20px;
    /* Espaciado inferior */
    text-align: center;
    /* Centrar texto */
}

.linea-pedido {
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    align-items: center;
    /* Alinea verticalmente */
    background-color: #ffffff;
    /* Fondo blanco */
    border: 1px solid #ddd;
    /* Borde gris */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 15px;
    /* Espaciado interno */
    margin-bottom: 15px;
    /* Margen inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

.carta-detalles {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos dentro */
}

.carta-detalles img {
    width: 120px;
    /* Ajusta el ancho de la imagen */
    height: auto;
    /* Mantén la proporción */
    margin-right: 20px;
    /* Espaciado a la derecha */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Sombra en la imagen */
}

.carta-detalles h5 {
    color: #007bff;
    /* Color azul para el título de la carta */
}

.linea-detalles {
    text-align: left;
    margin-right: 20px;
    /* Espaciado a la derecha */
}

.linea-detalles h5,
.linea-detalles p {
    margin: 0 0 10px 0;
    /* Espaciado inferior */
}

select {
    font-size: large;
    /* Tamaño de fuente grande */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    width: 60px;
    /* Ancho fijo */
    margin-top: 5px;
    transition: border-color 0.3s;
}

.botonCompra {
    background-color: #28a745;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: calc(1.2em + 1vw);
    /* Tamaño dinámico basado en el ancho de la pantalla */
    cursor: pointer;
    margin: 20px auto;
    /* Márgenes automáticos para centrar */
    width: 70%;
    /* Ancho del 50% para que no ocupe todo el espacio */
    display: block;
    /* Asegura que se comporte como un bloque para centrado */
}

.botonCompra:hover {
    background-color: #218838;
}

.botonVaciar {
    background-color: #dc3545;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: calc(1.2em + 1vw);
    /* Tamaño dinámico basado en el ancho de la pantalla */
    cursor: pointer;
    margin: 20px auto;
    /* Márgenes automáticos para centrar */
    width: 70%;
    /* Ancho del 50% para que no ocupe todo el espacio */
    display: block;
    /* Asegura que se comporte como un bloque para centrado */
}

.botonVaciar:hover {
    background-color: #c82333;
}

.botonEliminarCarrito {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    /* Tamaño dinámico basado en el ancho de la pantalla */
    cursor: pointer;
}

.botonEliminarCarrito:hover {
    background-color: #c82333;
}

#imagenPago {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}