/* Estilos generales para la página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura del viewport */
}
/* Contenedor principal */
.contenedor {
    flex: 1; /* Ocupa el espacio restante entre header y footer */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Espacio entre los botones */
}

/* Botones generales */
button {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 30px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    width: 100%;
    height: 100%;
}

button:hover {
    transform: translateY(-3px);
}

.btn-usuario {
    background-color: #007bff;
    color: white;
}

.btn-usuario:hover {
    background-color: #0056b3;
}

.btn-cartas {
    background-color: #28a745;
    color: white;
}

.btn-cartas:hover {
    background-color: #218838;
}


